body {
  background-color: black !important;
  color: white !important;
  //border-color: blue !important;
}

.color-link{
	color : red !important;
}
.follow-button{
	color: red !important;
	background: transparent;
    color: rgb(229, 246, 255);
    
}